* {
	box-sizing:border-box;
}

body {
	margin: 0px;
	background-color: #e7fdff;
	font-family: 'Source Sans Pro', sans-serif;
	color: #333;
}

h1 {
	padding-top: 37px;
	position: relative;
	left: 165px;
	font-family: 'Abril Fatface', cursive;
    font-size: 5.9em;
    font-weight: 400;
    width: 700px;
    line-height: 110px;
}

#triangle {
	position: absolute;
	top: 30px;
	right: 0px;
	height: 620px;
	z-index:-1;
}

#me {
	position: relative;
	float: right;
	top: -40px;
	right: 10px;
	height: 690px;
	padding-left: 70px;
	padding-bottom: 20px;
}

#bio {
	width: 800px;
	margin: auto;
	font-size: 1.5em;
	line-height: 1.5em;
}

.carousel-container {
	position: relative;
	height: 600px;
	width: 800px;
	margin: auto;
	margin-bottom: 120px;
	overflow: hidden;
}

.carousel {
	display: flex;
	height: 100%;
}

.photo {
	position: relative;
	height: 100%;
}

.arrowContainer {
	position: absolute;
	top: 0px;
	bottom: 0px;
	height: 70px;
	width: 35px;
	margin: auto;
	cursor: pointer;
	transition: 0.28s ease;
}

.arrowContainer:hover {
	background-color: rgb(160, 160, 160, 0.5); 
}

#rightArrowContainer {
	right: 0px;
}

.arrow {
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 50%;
	filter: invert(1);
}

#playPauseContainer {
	position: absolute;
	top: 10px;
	right: 10px;
	margin: auto;
}

.playPauseButton {
	height: 30px;
	filter: invert(1);
	opacity: 90%;
	cursor: pointer;
}